* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', serif;
  background: white;
  color: rgb(1, 1, 1);
  padding: 25px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo-bar, .navigat-bar {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 30px;
  margin-left: 20px;
}

.logo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2px;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.navigat-bar a {
  text-decoration: none;
  color: rgb(1, 1, 1);
  font-size: 16px;
}

.dots-icon {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 10px;
  width: 45px;
}

.dots-icon span {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.line {
  width: 120px;
  height: 1.5px;
  background: black;
  margin-left: 4px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding-left: 60px;
  border-left: 1px solid black;
  position: absolute;
  top: 100px;
  margin-left: 50px;
  max-width: 100%;
}

.text-bar {
  flex: 7;
  position: relative;
  z-index: 5;
  padding-bottom: 50px;
  top: 80px;
}

.text-bar h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  letter-spacing: 20px;
  margin-bottom: 20px;
  color: rgb(34, 34, 34);
  position: relative;
  white-space: nowrap;
  margin-left: 26px;
}

.overlay {
  position: absolute;
  left: 100%;
  top: 0;
  color: white;
  transform: translate(-68px);
  z-index: 10;
  pointer-events: none;
}

.text-bar p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 80%;
  margin-bottom: 20px;
}

.dots {
  margin-bottom: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  margin-right: 15px;
  cursor: pointer;
}

.dot.active {
  background: #111;
}

.search-box {
  font-size: 14px;
  padding: 6px 12px;
  width: 160px;
  border: 1px solid #111;
  outline: #111;
}

.image-bar {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

.image-bar img {
  width: 970px;
  max-height: 81vh;
  display: block;
  float: right;
  height: auto;
  margin-left: -100px;
  object-fit: cover;
}

.arrows {
  position: absolute;
  bottom: 5px;
  left: -90px;
  display: flex;
  gap: 10px;
}

.arrow {
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  user-select: none;
}